ErrorDocument 503 /stop-sopa.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !robots.txt
    RewriteCond %{REQUEST_URI} !stop\-sopa\.html$
    RewriteRule .* - [R=503,L]
</IfModule>
